/* ##################################################### */
/* ##################################################### */
/* ##################################################### */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  /* ########## */
  /* # COLORS # */
  /* ########## */

  /* --surface-primary-1: #1a1a1a;
  --surface-primary-2: #333;
  --surface-secondry: #000;
  --surface-cta: #ddb344; */

  --color-primary: #ffffff;
  --color-secondry: #000000;
  --color-branding: #ddb344;
  --color-warning: #ff0000;
  --color-accepted: #00ff00;
  --color-tertiary: #b2b2b2;

  /* ########### */
  /* # SPACING # */
  /* ########### */

  /* --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 24px;
  --spacing-top-offset: 65px; */

  --spacing-s0: 0;
  --spacing-s1: 8px;
  --spacing-s2: 12px;
  --spacing-s3: 16px;
  --spacing-s4: 20px;
  --spacing-s5: 24px;
  --spacing-s6: 28px;
  --spacing-s7: 32px;
  --spacing-s8: 36px;
  --spacing-s9: 40px;
  --spacing-s10: 44px;

  --spacing-topOffset: 68px;

  /* ############## */
  /* # TYPOGRAPHY # */
  /* ############## */

  /* --typography-primary: #fff;
  --typography-scondry: #b2b2b2;
  --typography-cta: #fff;
  --typography-warning: #ff0000;
  --typography-correct: #00ff00;
  --typography-branding: #ddb344; */

  --typography-fs0: 0.83rem;
  --typography-fs1: 1rem;
  --typography-fs2: 1.2rem;
  --typography-fs3: 1.44rem;
  --typography-fs4: 1.72rem;
  --typography-fs5: 2.07rem;
  --typography-fs6: 2.48rem;

  /* ######### */
  /* # ICONS # */
  /* ######### */
  --icon-height: 32px;

  /* ##########  */
  /* # BORDER # */
  /* #########  */
  --radius-s: 5px;
  --radius-m: 10px;
}

@media screen and (min-width: 480px) {
  * {
    /* ########### */
    /* # SPACING # */
    /* ########### */

    /* --spacing-s: 12px;
    --spacing-m: 20px;
    --spacing-l: 28px;
    --spacing-top-offset: 79px; */

    --spacing-s0: 0;
    --spacing-s1: 12px;
    --spacing-s2: 16px;
    --spacing-s3: 20px;
    --spacing-s4: 24px;
    --spacing-s5: 28px;
    --spacing-s6: 32px;
    --spacing-s7: 36px;
    --spacing-s8: 40px;
    --spacing-s9: 44px;
    --spacing-s10: 48px;
  }
}

@media screen and (min-width: 990px) {
  * {
    /* ########### */
    /* # SPACING # */
    /* ########### */

    /* --spacing-s: 16px;
    --spacing-m: 24px;
    --spacing-l: 32px;
    --spacing-top-offset: 95px; */

    --spacing-s0: 0;
    --spacing-s1: 16px;
    --spacing-s2: 20px;
    --spacing-s3: 24px;
    --spacing-s4: 28px;
    --spacing-s5: 32px;
    --spacing-s6: 36px;
    --spacing-s7: 40px;
    --spacing-s8: 44px;
    --spacing-s9: 48px;
    --spacing-s10: 52px;
  }
}

body {
  font-size: 1rem;
  color: var(--color-secondry);
  margin: 0;
  padding: 0;
}

button {
  border: none;
  background: transparent;
  color: var(--color-secondry);
}

button:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: var(--color-secondry);
}

.h1 {
  font-size: 2.48rem;
  font-weight: 750;
}

.h2 {
  font-size: 2.07rem;
  font-weight: 750;
}

.h3 {
  font-size: 1.72rem;
  font-weight: 750;
}

.h4 {
  font-size: 1.44rem;
  font-weight: 750;
}

.h5 {
  font-size: 1.2rem;
  font-weight: 750;
}

.h6 {
  font-size: 1rem;
  font-weight: 750;
}

.pointerOnHover:hover {
  cursor: pointer;
}
