.Overlay {
  background-color: var(--color-secondry);
  opacity: 0.5;
  position: fixed;
  inset: 0;
}

.Content {
  border-radius: 6px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* max-width: 500px; */
  padding: var(--spacing-s3);
  border: 2px solid var(--color-warning);
  color: var(--color-primary);
  background-color: var(--color-secondry);
  width: 100%;
  max-width: 500px;
}

.Title {
  margin-bottom: var(--spacing-s1);
  font-size: var(--typography-fs2);
}

.Button {
  all: unset;
  padding: var(--spacing-s1);
  background-color: var(--color-warning);
  border-radius: var(--radius-s);
  margin-top: var(--spacing-s2);
}
