.container {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-s2);
  padding: var(--spacing-s5);
  justify-content: space-between;
  background-color: var(--color-secondry);
  color: var(--color-primary);
}

.container a {
  color: var(--color-primary);
}

.brandingContainer {
  display: flex;
  gap: var(--spacing-s2);
  flex-wrap: wrap;
  align-items: center;
}

.brandingContainer p {
  padding: var(--spacing-s2);
}
