.container1 {
  padding: var(--spacing-m);
  background-color: var(--surface-secondry);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.links {
  display: none;
}

.container2 {
  display: flex;
  gap: var(--spacing-m);
  justify-content: space-between;
  align-items: center;
}

.iconButton {
  display: block;
  height: var(--icon-height);
  width: auto;
}

@media screen and (min-width: 990px) {
  .links {
    display: flex;
    gap: var(--spacing-m);
  }

  .iconButton {
    display: none;
  }
}

/* ################ */
/* # DROPDOWNMENU # */
/* ################ */

.dropDownMenuContent {
  width: 100vw;
  border: 1px solid white;
  border-radius: var(--radius-s);
  padding: var(--spacing-m);
  background-color: var(--surface-secondry);
  margin-top: 20px;
}

.seprator {
  height: 1px;
  background-color: white;
  margin-top: var(--spacing-s);
  margin-bottom: var(--spacing-s);
}
