.container {
  padding: var(--spacing-s3);
  background-color: var(--color-secondry);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.links {
  display: none;
}

.dropDownMenuContainer {
  display: flex;
  gap: var(--spacing-s1);
  justify-content: space-between;
  align-items: center;
}

.buttonContainer {
  display: flex;
  gap: var(--spacing-s1);
}

.iconButton {
  display: block;
  height: var(--icon-height);
  width: auto;
}

@media screen and (min-width: 990px) {
  .links {
    display: flex;
    gap: var(--spacing-s2);
    & a {
      color: var(--color-primary);
    }
  }

  .iconButton {
    display: none;
  }
}

/* ################ */
/* # DROPDOWNMENU # */
/* ################ */

.dropDownMenuContent {
  width: 100vw;
  border: 1px solid white;
  border-radius: var(--radius-s);
  padding: var(--spacing-s2);
  background-color: var(--color-secondry);
  margin-top: 18px;
  color: var(--color-primary);
}

.seprator {
  height: 1px;
  background-color: var(--color-primary);
  margin-top: var(--spacing-s1);
  margin-bottom: var(--spacing-s1);
}
