.root {
  border-radius: var(--radius-m);
  border: 1px solid var(--color-branding);
  max-width: 500px;
  width: 100%;
  margin: auto;
  box-shadow: 4px 4px 8px 0px var(--color-branding);
}

.item {
  margin-top: 0px;
}

.header {
  padding: var(--spacing-s1);
  border-top: 1px solid var(--color-branding);
  border-bottom: 1px solid var(--color-branding);
}

.roundedTop {
  border-top-right-radius: var(--radius-m);
  border-top-left-radius: var(--radius-m);
  border-top: none;
}

.roundedBottom {
  border-bottom-right-radius: var(--radius-m);
  border-bottom-left-radius: var(--radius-m);
  border-bottom: none;
  &[data-state="open"] {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom: 1px solid var(--color-branding);
  }
}

.trigger {
  font-size: 1rem;
}

.content {
  padding: var(--spacing-s1);
  font-size: 1rem;
  background-color: transparent;
}
