/* ################### */
/* # DIRECTOR'S INFO # */
/* ################### */

.directorInfoContainer {
  /* background-color: var(--surface-primary-1); */
  padding: var(--spacing-s5);
}

.strikeThroughText {
  text-decoration: line-through;
}

.imageContainer {
  max-width: 500px;
}

.highlightedText {
  color: var(--color-branding);
}

.flexContainer {
  display: flex;
  gap: var(--spacing-s2);
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
  padding-top: var(--spacing-s2);
  padding-bottom: var(--spacing-s2);
}

.directorsImage {
  width: 100%;
  height: auto;
  border-radius: var(--radius-m);
}

.textContainer {
  max-width: 500px;
}

.ctaButton {
  width: 100%;
}

.sectionHeading {
  margin-bottom: var(--spacing-s4);
}

/* ############## */
/* # OUR VALUES # */
/* ############## */

.valuesContainer {
  margin-top: var(--spacing-topOffset);
  padding: var(--spacing-s5);
}
