/* ################ */
/* # HERO SECTION # */
/* ################ */

.herosectionContainer {
  background: linear-gradient(
    0deg,
    var(--color-branding) -0.14%,
    var(--color-secondry) 99.94%
  );
  padding: var(--spacing-s3);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-s2);
  margin-top: var(--spacing-topOffset);
  align-items: center;
}

.heroSectionImageContainer {
  max-width: 100%;
}

.herosectionContainer p {
  text-align: center;
  color: var(--color-primary);
}

.strikeThrough {
  text-decoration: line-through;
}

@media screen and (min-width: 480px) {
  .herosectionContainer {
    flex-direction: row;
    justify-content: center;
  }

  .heroSectionImageContainer {
    max-width: 50%;
  }
}

/* ############# */
/* # TECH CARD # */
/* ############# */

.techCardContainer {
  display: flex;
  flex-direction: column;
  background-color: var(--surface-primary-1);
  padding: var(--spacing-s3);
  gap: var(--spacing-s2);
  max-width: 350px;
  border-radius: var(--radius-s);
  justify-content: space-around;
}

.techCardCtaButton {
  width: 100%;
  margin-top: var(--spacing-m);
}

/* ################### */
/* # SERVICE SECTION # */
/* ################### */

.serviceSectionContainer {
  padding: var(--spacing-s5);
}

.sectionHeading {
  margin-bottom: var(--spacing-s4);
}

.serviceSectionCardContainer {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-s4);
  justify-content: center;
  margin-top: var(--spacing-s4);
}
