/* ################ */
/* # HERO SECTION # */
/* ################ */

.heroSectionContainer {
  display: flex;
  gap: var(--spacing-s1);
  flex-direction: column;
  background: linear-gradient(
    0deg,
    var(--color-branding) -0.14%,
    var(--color-secondry) 99.94%
  );
  padding: var(--spacing-s3);
  margin-top: var(--spacing-topOffset);
  color: var(--color-primary);

  & p {
    max-width: 500px;
    margin: auto;
    text-align: center;
  }
}

.imageContainer {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-s1);
  max-width: 1024px;
  justify-content: center;
  margin: auto;
}

.highlightedText {
  color: var(--color-branding);
}

/* ########### */
/* # SERVICE # */
/* ########### */

.serviceContainer {
  background-color: var(--surface-secondry);
  padding: var(--spacing-m);
  border-radius: var(--radius-s);
  display: flex;
  flex-direction: column;
  margin-top: var(--spacing-m);
  gap: var(--spacing-m);
  & ul {
    li {
      list-style-position: inside;
    }
  }
}

.innerContainer {
  max-width: 1024px;
  margin: auto;
}

.mediaContainer {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-m);
  justify-content: center;
  padding: var(--spacing-m);
}

.infographicContainer {
  width: 100%;
  height: auto;
  max-width: 500px;
  min-width: min(50%, 250px);
}

.textContainer {
  max-width: 500px;
  min-width: min(50%, 250px);
}

.smallScreen {
  display: block;
  margin-bottom: var(--spacing-m);
  margin-top: var(--spacing-m);
}

.bigScreen {
  display: none;
}

.ctaButton {
  width: 100%;
}

@media screen and (min-width: 480px) {
  .mediaContainer {
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .smallScreen {
    display: none;
  }

  .bigScreen {
    display: block;
    margin-top: var(--spacing-m);
    margin-bottom: var(--spacing-m);
  }

  .ctaButton {
    width: fit-content;
    margin: auto;
  }
}

/* ################ */
/* # OUR SERVICES # */
/* ################ */

.ourServicesContainer {
  padding: var(--spacing-s5);

  p {
    margin-bottom: var(--spacing-s3);
  }
}

.ourServicesFlexContainer {
  display: flex;
  flex-wrap: wrap;
  /* padding: var(--spacing-s5); */
  gap: var(--spacing-s4);
  justify-content: center;
}

/* ################## */
/* # OUR TECH STACK # */
/* ################## */

.pageHeading {
  margin-bottom: var(--spacing-s4);
}

.pagePadding {
  padding: var(--spacing-s5);
}
